.demo {
  background-color: rgb(38, 141, 161);
  padding: 10px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 18px;
  margin: 0 auto;
  align-content: center;
}

body {
  margin: 0;
  background-color: white;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0;
  border-radius: 10px;
}
.body-wrapper {
  margin: 0 auto;
  max-width: 900px;
}
.disp-image {
  height: 180px;
  width: 180px;
  object-fit: cover;
  margin-top: 10%;
  border-radius: 100%;
  margin-left: auto;
}
li {
  float: right;
  text-decoration: none;
  display: block;
}

a {
  text-decoration: none;
  padding: 10px;
  text-align: center;
  font-size: large;
  font-family: cursive;
  color: white;
}
a:active {
  color: black;
}
.profileimg {
  border-radius: 50px 10px;
  width: 15%;
  border: solid;
  border-width: 10px;
  border-color: rgb(224, 221, 223);
  float: right;
  margin-top: 10%;
  margin-right: 20%;
  box-shadow: 0 0 4px 3px rgb(38, 141, 161);
}
.intro {
  /* margin-top: 10%; */
  /* margin-left: 20%; */
}
.intro p {
  font-size: 20px;
  margin-left: 2%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button {
  display: inline;
  padding: 5px;
  background-color: rgb(38, 141, 161);
  border-radius: 10px;
  color: white;
  margin-left: 20%;
  margin-top: 5%;
}
.profileimg:hover {
  box-shadow: 0 0 4px 3px rgb(9, 129, 153);
}
h3 {
  text-align: center;
}
h3 a {
  color: black;
  background-color: skyblue;
  border-radius: 10px;
  text-decoration: wavy;
}
h2 a {
  color: black;
  background-color: goldenrod;
  margin-left: 1%;
  border-radius: 10px;
}
h2 {
  margin-left: 35%;
  margin-top: 10%;
}

@media screen and (max-width: 500px) {
  .disp-image {
    margin-left: 0;
  }
}
